@model IEnumerable<KursDB.Models.ReaderType>

@{
    ViewData["Title"] = "Типы читателей";
}

<h1>Типы читателей</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="readerTypeTable" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.TypeName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.TypeName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReaderTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReaderTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReaderTypeId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#readerTypeTable').DataTable();
        });
    </script>
}
