@model KursDB.Models.ReaderAttribute

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReaderAttribute</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttributeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttributeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AttributeValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AttributeValue)
        </dd>
        <dt class="col-sm-2">
            Reader
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reader.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttributeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>