@model IEnumerable<KursDB.Models.EmployeeSchedule>

@{
    ViewData["Title"] = "График работы";
}

<h1>График работы</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table id="scheduleTable" class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.WorkDate)</th>
            <th>@Html.DisplayNameFor(model => model.StartTime)</th>
            <th>@Html.DisplayNameFor(model => model.EndTime)</th>
            <th>@Html.DisplayNameFor(model => model.Employee)</th>
            <th>@Html.DisplayNameFor(model => model.Hall)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.WorkDate)</td>
                <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Employee.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Hall.HallNumber)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ScheduleId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ScheduleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ScheduleId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#scheduleTable').DataTable();
        });
    </script>
}
