@model IEnumerable<KursDB.Models.ReaderAttribute>

@{
    ViewData["Title"] = "Index";
}

<h1>Атрибуты читателей</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AttributeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttributeValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AttributeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttributeValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.ReaderId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AttributeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AttributeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AttributeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
